section{
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    .imgBlock{
        height:40dvh;
        margin-bottom: 2rem;
        .hero-mimg{
            height: 100%;
        }
        .hero-dimg{
            display: none;
        }
    }
    .infoSide{
        h1{
            font-size: 2.5rem;
        }
        p{
            padding-inline: 3rem;
            font-size: large;
            color: gray;
            font-weight:500;
        }
        .btn{
            display: block;
            margin: 1.5rem auto;
            &:hover{
                background-color: white;
                color: black;
                
            }
            
        }
        picture{
            height: 2rem;
            img{
                margin-inline:0.3rem;
            }
        }
    }
}

@media (min-width:800px) {
    section{
        text-align: start;
        flex-direction: row;
        padding: 0 5rem;
        .infoSide{
            padding: 4rem;
            width: 50%;
            h1{
                font-size: 5rem;
                margin: 3rem 0;
            }
            p{
                padding: 0;
                margin: 3rem 0;
            }
            .btn{
                margin: 3rem 0;
            }
            picture{
                height: 2rem;
                img{
                    margin-inline:1rem;
                }
            }
        }
        .imgBlock{
            width: 50%;
            height: 70dvh;
            margin: 2rem ;
            .hero-mimg{
                display: none;
            }
            .hero-dimg{
                display: block;
                height: 100%;
                margin: 0 auto;
            }
        }
    }
}